# ignorar todos estas carpetas

build/
nbproject/private/
test/
dist/


# ignora todo estos archivos

build.xml
manifest.mf
*.sql

# archivos compilados

*.class

# historial archivos

*.log

# paquetes

*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# bitacora de errores maquina virutal

hr_err_pid*